*{
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}
.rainbow{
    /* background-color: black; */
    width: 400px;
    height:200px;
    overflow: hidden;
    margin: 0 auto;

}
.rainbow div{
    border-radius: 50%;
    overflow: hidden;
}
.rainbow > div{
    /* border: 1px solid black; */
    background-color: red;
    width: 400px;
    height: 400px;
    /* margin: 10px; */
}
.rainbow > div>div{
    /* border: 1px solid black; */
    background-color: orange;
    width: 380px;
    height: 380px;
    margin: 10px;
}
.rainbow > div>div>div{
    /* border: 1px solid black; */
    background-color: yellow;
    width: 360px;
    height: 360px;
    margin: 10px;
}
.rainbow > div>div>div>div{
    /* border: 1px solid black; */
    background-color: green;
    width: 340px;
    height: 340px;
    margin: 10px;
}
.rainbow > div>div>div>div>div{
    /* border: 1px solid black; */
    background-color: cyan;
    width: 320px;
    height: 320px;
    margin: 10px;
}
.rainbow > div>div>div>div>div>div{
    /* border: 1px solid black; */
    background-color: blue;
    width: 300px;
    height: 300px;
    margin: 10px;
}
.rainbow > div>div>div>div>div>div>div{
    /* border: 1px solid black; */
    background-color: purple;
    width: 280px;
    height: 280px;
    margin: 10px;
}
.rainbow > div>div>div>div>div>div>div>div{
    /* border: 1px solid black; */
    background-color: #fff;
    width: 260px;
    height: 260px;
    margin: 10px;
}